/* TableStyles.css */
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-family: Arial, sans-serif;
}

th {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
}

td {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  cursor: pointer;
  transform: scale(1.01);
  transition: all 0.2s;
}

tr:first-child:hover {
  background-color: #4CAF50;
  transform: none;
}
